
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

body {
  font-family: "Fira Code", monospace;
  color: black;
  /*text-shadow: -1px -1px 0 #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;*/
  /*display: grid;*/
  /*background: #333;*/
}

a:link {
  color: black;
}

a:visited {
  color: #111;
}


a:hover {
  color: #111;
}


a:active {
  color: #111;
}

* {
}

.header {
  /*height: 10vh;*/
  /*float: left;*/
}

.main_view {
  width: 100vw;
  height: 70vh;
  margin-top: 10vh;
  overflow-y: scroll;
}

.navbar_links {
  /*display: grid;*/
  /*grid-template-columns: auto auto;*/
  width: 30%;
}

iframe {
}

.navbar_link {
  width: 100%;
}

* {
  width: 90%;
  height: 600px;
}
