body {
  font-family: "arial";
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
  display: grid;
  background: #333;
}

a:link {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}

a:visited {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}


a:hover {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}


a:active {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}

* {
  font-family:"arial"
}

.header {
  height: 10vh;
  float: left;
}

.main_view {
  width: 100vw;
  height: 70vh;
  margin-top: 10vh;
  overflow-y: scroll;
}

.navbar_links {
  display: grid;
  grid-template-columns: auto auto;
}

.navbar_link {
}
